@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container{
    background-color: rgb(70, 68, 68);
    margin: 0;
    width: 100vw;
    

    ul{
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 0;
    }

    li:first-child{
        margin-right: auto;
        margin-left: 2rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.text{
    width: 100%;
    text-align: center;
}